.navbar {
  /* min-height: 7.2rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px); */
  max-width: 1120px;
  margin-inline: auto;

  & .logo {
    width: 7rem;
  }

  & nav {
    display: none;
  }

  & .btnHeader {
    display: none;
  }

  & .menuButton {
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
  }
}

.menuMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  position: absolute;
  inset: 0;
  z-index: 1;
  padding: 2rem;
  
  & .menuMobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    & .logo {
      width: 10rem;
      margin: auto;
      /* background-color: var(--white); */
      border-radius: .5rem;

    }
    
    & .menuButton {
      border: none;
      background: transparent;
      color: var(--white);
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }

  & .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;

    & li {
      font-weight: 700;
      font-size: 2.4rem;
      color: var(--white);

      & a {
        font-family: "DM Sans";
        font-size: 2.4rem;
        color: var(--white);
        transition: all .2s;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  & .btnWhats {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .navbar {

    & .logo {
      font-size: 2.6rem;
      color: var(--primary-color);
    }
  
    & .btnHeader {
      display: flex;
    }
  
    & .menuButton {
      display: none;
    }

    & nav {
      display: flex;
      & ul {
        display: flex;
        align-items: center;
        gap: 3.2rem;

        & li {
          & a {
            color: var(--primary-color);
            font-size: 1.6rem;
            transition: all .2s;

            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}